.votesmart-home {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.quiz {
  margin-top: 3rem;
}

.question {
  margin-bottom: 1rem;
}

.option-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.option-button:hover {
  background-color: #3e8e41;
}
